.questao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.respostas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
